		<!-- Footer -->
			<div id="footer-wrapper">
				<section id="footer" class="container">
					<div class="row">
						<div class="8u">
							<section>
								<header>
									<h2>Hitos Importantes</h2>
								</header>
								<ul class="dates">
								{% for post in site.posts offset: 0 limit: 5 %}
									<li>
										<span class="date">{{ post.date | date: "%B"}} <strong>{{ post.date | date: "%d"}}</strong></span>
										<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
										{{ post.excerpt }}
									</li>
								{% endfor %}
								</ul>
							</section>
						</div>
						<div class="4u">
							<section>
								<header>
									<h2>Quién es Pedro?</h2>
								</header>
								<a href="#" class="image featured"><img src="{{ site.baseurl }}/assets/images/pic10.jpg" alt="" /></a>
								<p>
									Soy <strong>Pedro,</strong> un ser creativo que busca ser parte de la empresa que las personas quieran que exista.
									Además, soy un profesional con una gran experiencia en el área de videojuegos, comunicación digital y redes sociales. Destaco mis habilidades creativas, de comunicación efectiva, de observación y aprendizaje, las cuales me han permitido crear medios digitales de gran alcance dentro de Chile y ser expositor en diversos eventos transmitiendo mi experiencia en la creación de virales y contenido de gran impacto.
								</p>
								<footer>
								</footer>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="4u">
							<section>
								<header>
									<h2>Otros trabajos</h2>
								</header>
								<ul class="divided">
									<li><a href="#">Deep Terror</a></li>
									<li><a href="#">La Leyenda del Chupacabras</a></li>
									<li><a href="#">Gigabattle</a></li>
									<li><a href="#">La Jauría</a></li>
									<li><a href="#">No es La Legal</a></li>
								</ul>
							</section>
						</div>
						<div class="4u">
							<section>
								<header>
									<h2>Hechos Importantes</h2>
								</header>
								<ul class="divided">
									<li><a href="https://socialmediaweek.org/conference/smw_speaker/pedro-torrealba-barra/">Expositor en Social Media Week</a></li>
									<li><a href="https://pousta.com/horoscopo-pousta-pedro-torrealba/">Horóscopo Pousta</a></li>
									<li><a href="https://medium.com/blog-koga/aprendizajes-fiis-2015-b3a7b10d3ee2">Participación en FIIS 2015</a></li>
									<li><a href="https://www.cnnchile.com/tendencias/conozca-mas-detalles-del-libro-que-lanzo-la-legal_20161028/">Libro de La Legal en CNN</a></li>
									<li><a href="https://www.criptonoticias.com/entrevistas/pedro-torrealba-darkwinds-juego-coleccionables-ethereum-chile/">Entrevista sobre Darkwinds en Criptonoticias</a></li>
									<li><a href="http://www.todogamers.cl/hammercoin-es-lanzado-oficialmente-en-la-comic-con-chile/">Lanzamiento de juego en Comic Con 2017</a></li>
								</ul>
							</section>
						</div>
						<div class="4u">
							<section>
								<header>
									<h2>Mis Redes Sociales</h2>
								</header>
								<ul class="social">
									<li><a class="icon fa-facebook" href="https://www.facebook.com/pedropablotorrealba"><span class="label">Facebook</span></a></li>
									<li><a class="icon fa-twitter" href="https://twitter.com/robok"><span class="label">Twitter</span></a></li>
									<li><a class="icon fa-linkedin" href="https://www.linkedin.com/in/pedro-torrealba-99721110/"><span class="label">LinkedIn</span></a></li>
								</ul>
								<ul class="contact">
									<li>
										<h3>Dirección</h3>
										<p>
											Miguel Claro 303<br />
											depto. 31 - Providencia<br />
											Santiago - Chile
										</p>
									</li>
									<li>
										<h3>Mail</h3>
										<p><a href="#">torrealba.pedro@gmail.com</a></p>
									</li>
									<li>
										<h3>Teléfono</h3>
										<p>(+56 9) 4400-6436</p>
									</li>
								</ul>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="12u">

							<!-- Copyright -->
								<div id="copyright">
									<ul class="links">
										<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
										<li>Demo Images: <a href="http://facebook.com/DreametryDoodle">Dreametry Doodle</a></li>
										<li> Jekyll Template: <a href="http://cloudcannon.com">Cloud Cannon</a></li>
									</ul>
								</div>

						</div>
					</div>
				</section>
			</div>

	</body>
</html>
