<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					<!-- Logo -->
						<h1><a href="index.html">Pedro Torrealba Barra</a></h1>

					<!-- Banner -->
						<section id="banner">
							<header>
								<h2>Creativo al servicio de la humanidad</h2>
								<p><i>"La creatividad es ver lo que todo el mundo ve, pero idear un pensamiento nuevo que nunca se ha pensado antes y expresarlo de alguna manera".</i> Neil DeGrasse Tyson</p>
							</header>
						</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="4u">
									<section class="first">
										<i class="icon featured fa-cog"></i>
										<header>
											<h2>Viralista</h2>
										</header>
										<p> He logrado que mis ideas se viralicen usando el poder del humor. Mi récord fue que una noticia de La Legal alcanzara a un millon de personas en Facebook. </p>
									</section>
								</div>
								<div class="4u">
									<section class="middle">
										<i class="icon featured alt fa-flash"></i>
										<header>
											<h2>Experto en Memes</h2>
										</header>
										<p> Durante 13 años he estado trabajando al servicio de la memética. He creado memes tan conocidos como "El Perro del Lusho", "El Niño Iluminati", "Las Chalas Zico" entre otros.</p>
									</section>
								</div>
								<div class="4u">
									<section class="last">
										<i class="icon featured alt2 fa-star"></i>
										<header>
											<h2>Creador de Comunidades</h2>
										</header>
										<p> He creado comunidades que son fieles a las marcas y altamente participativas, como las comunidades de Porlaputa, La Legal, Chalas Zico Ofisial y No Es La Legal.</p>
									</section>
								</div>
							</div>
						</section>

				</div>
			</div>
